<a href="https://colab.research.google.com/github/joehawkens/MachineLearning/blob/main/MODULE_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MODULE 2
## Overview: https://byui-cse.github.io/cse450-course/module-02/

## Libraries

In [4]:
# Pandas + Seaborn
import pandas as pd
import seaborn as sns

# Sklearn
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

# Matplot
import matplotlib.pyplot as plt

## Target and Features

**TARGET: 'y' - Has the client scubscribed to a term deposit (yes,no)**

**FEATURES**
- Education: Categorical
- Marital Status: Categorical
- Job: Categorical
- Loan: Categorical (Yes, No, Unknown)
- House: Categorical (Yes, No, Unknown)

### Dictionary: https://byui-cse.github.io/cse450-course/module-02/bank-dictionary.txt

# Data

In [11]:
bank_data = pd.read_csv("https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bank.csv")

# Create subset that contains ONLY the features and target:
bank_data_subset = bank_data[["marital", "education", "job", "loan", "housing", "y"]]


# Drop all empty values from the subset of data:
bank_data_subset = bank_data_subset.dropna() 
bank_data_subset

       marital            education          job loan housing    y
0      married             basic.4y    housemaid   no      no   no
1      married          high.school     services   no      no   no
2      married          high.school     services   no     yes   no
3      married             basic.6y       admin.   no      no   no
4      married          high.school     services  yes      no   no
...        ...                  ...          ...  ...     ...  ...
37064  married  professional.course      retired   no     yes  yes
37065  married  professional.course  blue-collar   no      no   no
37066  married    university.degree      retired   no     yes   no
37067  married  professional.course   technician   no      no  yes
37068  married  professional.course      retired   no     yes   no

[37069 rows x 6 columns]

# MODEL

In [ ]:
# Encoding features and setting up X and y for model:
features = ['marital', 'education', 'job', 'loan', 'housing']
X = pd.get_dummies(bank_data[features], drop_first=True)
y = bank_data['y']